{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
NOTE TO DEVELOPERS: welcome to Impact theme! We hope that you will enjoy editing this theme as much as we did for
  developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
  hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
  all events, dependencies...) in the "documentation.txt" file, located in the Assets folder.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">

{%- comment -%}--------------- SE20240419 STR  ---------------{%- endcomment -%}
{%- comment -%}---------------- canonical URL ----------------{%- endcomment -%}
{% if template == 'product' %}
      {% assign custom_canonical_url = product.metafields.custom.custom_canonical %}
    {% if custom_canonical_url %}
      <link rel="canonical" href="{{ custom_canonical_url | escape }}" />
    {% else %}
      {%- comment -%}
      <link rel="canonical" href="{{ canonical_url }}" />
      {%- endcomment -%}
    {%- endif -%}
    {% else %}
      {%- comment -%}
      <link rel="canonical" href="{{ canonical_url }}" />
      {%- endcomment -%}
    {%- endif -%}
{%- comment -%}--------------- SE20240419 END  ---------------{%- endcomment -%}
    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N226F9HC');</script>
<!-- End Google Tag Manager -->


<!-- KeyCRM online chat widget begin -->
{%- comment -%}--------------- SE20240519 STR ----------------{%- endcomment -%}
{%- comment -%}---------------- Error correct ----------------      
old    
<script type="text/javascript">
new
<script>
{%- endcomment -%}

<script>
{%- comment -%}--------------- SE20240519 END ----------------{%- endcomment -%}
{%- unless request.design_mode -%} 
var script_loaded=!1;
function loadJSscripts(){
  if(!script_loaded){
    script_loaded=!0;
    console.log('chat start');
    (function(w,d,t,u,c){
      var s=d.createElement(t),j=d.getElementsByTagName(t)[0];s.src=u;s["async"]=true;s.defer=true;s.onload=function(){KeyCRM.render(c);};j.parentNode.insertBefore(s,j)
    })(window, document, "script","https://chat.key.live/bundles/widget.min.js",{token:"b83fd079-c9ca-463e-86ab-ae228e407ef6"});
  }
}  
window.addEventListener("scroll",function(e){loadJSscripts()}),
window.addEventListener("mousemove",function(){loadJSscripts()}),
window.addEventListener("touchstart",function(){loadJSscripts()}),    
window.addEventListener
  ?window.addEventListener("load",function(){setTimeout(loadJSscripts,5000)},!1)
  :window.attachEvent 
    ?window.attachEvent("onload",function(){setTimeout(loadJSscripts,5000)})  
    :window.onload=loadJSscripts 
{% else %} 
(function(w,d,t,u,c){
  var s=d.createElement(t),j=d.getElementsByTagName(t)[0];s.src=u;s["async"]=true;s.defer=true;s.onload=function(){KeyCRM.render(c);};j.parentNode.insertBefore(s,j)
})(window, document, "script","https://chat.key.live/bundles/widget.min.js",{token:"b83fd079-c9ca-463e-86ab-ae228e407ef6"});
{% endunless %}
</script>
<!-- KeyCRM online chat widget end -->   
    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- comment -%}--------------- SE20240814 END ----------------
    <link rel="canonical" href="{{ canonical_url }}">
    {%- endcomment -%}
    
    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    {%- comment -%}Few prefetch to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

    {%- unless settings.heading_font.system? -%}
      <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.text_font.system? -%}
      <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- render 'social-meta-tags' -%}
    {%- render 'microdata-schema' -%}
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}

    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
    <script type="module" src="{{ 'sections.js' | asset_url }}"></script>

    {{ content_for_header }}

    {{- 'theme.css' | asset_url | stylesheet_tag: preload: true -}}

{%- comment -%}--------------- SE20240702 STR ----------------{%- endcomment -%}
{%- comment -%}------------------ Admit AD -------------------{%- endcomment -%}       
    <script src="https://www.artfut.com/static/tagtag.min.js?campaign_code=0031da7d16" onerror='var self = this;window.ADMITAD=window.ADMITAD||{},ADMITAD.Helpers=ADMITAD.Helpers||{},ADMITAD.Helpers.generateDomains=function(){for(var e=new Date,n=Math.floor(new Date(2020,e.getMonth(),e.getDate()).setUTCHours(0,0,0,0)/1e3),t=parseInt(1e12*(Math.sin(n)+1)).toString(30),i=["de"],o=[],a=0;a<i.length;++a)o.push({domain:t+"."+i[a],name:t});return o},ADMITAD.Helpers.findTodaysDomain=function(e){function n(){var o=new XMLHttpRequest,a=i[t].domain,D="https://"+a+"/";o.open("HEAD",D,!0),o.onload=function(){setTimeout(e,0,i[t])},o.onerror=function(){++t<i.length?setTimeout(n,0):setTimeout(e,0,void 0)},o.send()}var t=0,i=ADMITAD.Helpers.generateDomains();n()},window.ADMITAD=window.ADMITAD||{},ADMITAD.Helpers.findTodaysDomain(function(e){if(window.ADMITAD.dynamic=e,window.ADMITAD.dynamic){var n=function(){return function(){return self.src?self:""}}(),t=n(),i=(/campaign_code=([^&]+)/.exec(t.src)||[])[1]||"";t.parentNode.removeChild(t);var o=document.getElementsByTagName("head")[0],a=document.createElement("script");a.src="https://www."+window.ADMITAD.dynamic.domain+"/static/"+window.ADMITAD.dynamic.name.slice(1)+window.ADMITAD.dynamic.name.slice(0,1)+".min.js?campaign_code="+i,o.appendChild(a)}});'></script>
{%- comment -%}--------------- SE20240702 END ----------------{%- endcomment -%}
    
  </head>

{%- comment -%}---------------- SE20240410 STR Anzhela ----------------{%- endcomment -%}
{%- comment -%}---------------- search for mobile ----------------{%- endcomment -%}
{%- comment -%} old version, before Anzhela  
  <body class="{% if settings.show_page_transition %}page-transition{% endif %} {% if settings.zoom_image_on_hover %}zoom-image--enabled{% endif %}">
{%- endcomment -%}
  <body class="template-{{ template.name }} {% if settings.show_page_transition %}page-transition{% endif %} {% if settings.zoom_image_on_hover %}zoom-image--enabled{% endif %}">
{%- comment -%}---------------- SE20240410 END Anzhela ----------------{%- endcomment -%}
{%- comment -%}---------------- search for mobile ----------------{%- endcomment -%}
    
 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N226F9HC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->   
    
    {%- render 'shadow-dom-templates' -%}
    {%- render 'nova-poshta' -%}
    <a href="#main" class="skip-to-content sr-only">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {%- if request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}

      {%- if settings.cart_type == 'popover' -%}
        <cart-notification-drawer open-from="bottom" class="quick-buy-drawer drawer"></cart-notification-drawer>
      {%- endif -%}
    {%- endif -%}

    {%- if request.page_type == 'customers/account' or request.page_type == 'customers/order' or request.page_type == 'customers/addresses' -%}
      {%- section 'account-banner' -%}
    {%- endif -%}
{%- comment -%}--------------- SE20240519 STR ----------------{%- endcomment -%}
{%- comment -%}---------------- Error correct ----------------      
      old
    <main role="main" id="main" class="anchor">
new
    <main id="main" class="anchor">
{%- endcomment -%}
    <main id="main" class="anchor">  
{%- comment -%}--------------- SE20240519 END ----------------{%- endcomment -%}       
      {{ content_for_layout }}

      {%- comment -%}
      IMPLEMENTATION NOTE: due to the very complex logic of margin/padding collapsing in Impact, the footer group is
      added into the main element to ensure that dynamic sections added into the footer group are properly laid out.
      {%- endcomment -%}
      {%- if request.page_type != 'password' -%}
        {%- sections 'footer-group' -%}
      {%- endif -%}
       <a class="telegram-button" href="{{ settings.social_telegram }}" target="_blank">
        {%- render 'icon' with 'telegram' -%}
      </a>

      <script>
        window.addEventListener("load", () => {
          console.log(document.querySelector('.telegram-button'));
          console.log(document.querySelector('.KeyCRM-toggleButton'));
          function t1() {
            document.querySelector('.telegram-button').classList.add('telegram-button-closed')
          }
          document.querySelector('.KeyCRM-toggleButton').onclick = t1;
        });
      </script>
    </main>
  </body>
</html>